<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Designs App</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="container">
        <div class="row">
          <h1 class="col-sm-8">Shopping App Design V2.0</h1>
          <nav class="col-sm-4">
            <p><a href="http://127.0.0.1:5000/dashboard">Dashboard</a></p>
            <p><a href="#">Lists</a></p>
            <p><a href="{{ url_for('login') }}">Login</a></p>
            <p><a href="#">Logout</a></p>
          </nav>
        </div>
      </header>
      <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Welcome</h1>
                            <h3>Yo made it to the Dashboard</h3>
                            <hr class="intro-divider">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <footer class="container">
        <div class="row">
          <p class="col-sm-4">&copy; 2017 Alex Mochu</p>
        </div>
      </footer>
</body>
</html>