{% extends "basecode.html" %}
{% block title %}Login{% endblock %}
{% block body %}
{% if session['logged_in'] %}
<p></p>
{% else %}
<div class="content-section">
        <div class="center">
        
            <form class="form-horizontal" action="/login" method="POST">
                <input type="username" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Log in">
                <button id="singlebutton" name="singlebutton" class="btn btn-danger"><a href="{{ url_for('dashboard') }}">Login</a></button>
                       
            
            </form>


        </div>    
</div>
{% endif %}
{% endblock %}