{% import "bootstrap/wtf.html" as wtf %}
{% extends "basecode.html" %}
{% block title %}
    {% if add_shoppinglists %}
        Add List
    {% else %}
        Edit List
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_shoppinglists %}
                <h1>Add List</h1>
            {% else %}
                <h1>Edit List</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}